TestResults/*

*/obj/Debug/*
*/bin/Debug/*
*/obj/Release/*
*/bin/Release/*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

packages/*
Stored Procedure Manager/*.zip
Stored Procedure Manager/*.config
Handshakes.Service.Report/bin/*
.DS_Store
.vs/
*.config
iis (api).pubxml

